/* 主体左边盒子 */
.leftMain>li {
    height: 30px;
    background-color: rgb(214, 213, 213);
    font-size: 15px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
    padding: 0 10px;
}

.leftmini>li{
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    padding: 0 10px;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.leftmini>li::after {
    content: ">";
    color: #898989 ;
    float: right;
}
/* 主体右边盒子 */
.rightbig{
    width: 75%;
}

.mianhead {
    /* box-sizing: border-box; */
    padding: 10px;
    height: 24px;
    background-color: orange;
}

.headline {
    /* box-sizing: border-box; */
    line-height: 24px;
   color: #fff;
    font-size: 20px;
    padding-left: 5px;
}

.topbox {
    height: 340px;
    width: 24%;
    margin-top: 10px;
    box-sizing: border-box;
}

.toppicbox {
    width: 100%;
    height: 280px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(245, 245, 245);
}

.toppicbox img{
  width: 100%;
  height: 235px;
}

.topprice {
    margin-top: 10px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    color: red;
    font-weight: 700;
}

.topprice span {
    font-size: 13px;
    font-weight: normal;
    float: right;
    color: rgb(202, 202, 202);
}

.topdescription {
    height: 35px;
    font-size: 10px;
    font-weight: 700;
}

.internal {
    margin-left: 1%;
}

.botbox {
    height: 400px;
    width: 24%;
    margin-top: 10px;
    box-sizing: border-box;
}


.botpicbox {
    width: 100%;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(245, 245, 245);
}

.botpicbox img{
  width: 100%;
  height: 325px;
  margin-bottom: 10px;
}

/* 底部 */
.footer{
    margin-top: 20px;
    width: 100%;
    height: 340px;
    background-color: #efefef;
}

.footerLine {
  height: 50px;
  width: 100%;
  background-color: #6a6665;
  box-sizing: border-box;
}

.footerLine li {
    margin-top: 15px;
    height: 35px;
    font-size: 25px;
    width: 19%;
    color: rgb(250, 236, 240);
    display: inline-block;
    line-height: 35px;
    text-align: center;
}

.footcontent{
    height:160px;
    width: 16.5%;
    background-color: #efefef;
    /* padding-left: 20%; */
    border-bottom: 2px solid #d0d0d0;
}
.footbox {
    width: 100%;
    padding-left: 20%;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    color: rgb(51, 9, 25);
    position: relative;
}
.footpic {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 35px;
    height: 30px;
}
.footline {
    position: absolute;
    top: 45px;
    left: 14px;
    height: 110px;
}
 .footcontent .first {
    font-size: 20px;
    line-height: 40px;
    color: #000;
} 
/* 修改差异样式 */
.topLine li:hover {
    background-color: #8a282a;
    color: #fff;
}

/* 右侧细栏 */

.rightmin{
    width:22% ;
    margin-left:3%;
}

.min-botbox {
    height: 205px;
    width: 45%;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 5px;
}


.min-botpicbox {
    width: 100%;
    height: 203px;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid rgb(245, 245, 245);
}

.min-botpicbox img{
    width: 100%;
    height: 129px;
    margin-bottom: 10px;
}

.min-internal {
    margin-left: 8%;
}

/* 新增footer内容 */
.padding-top {
    padding-top: 10px;
    text-align: center;
}

.foot-line {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    margin-top: 10px;;
}

.img {
    width: 457px;
    height: 40px;
    display: block;
    margin: 12px auto;
    /* margin-top: 12px; */
}