/* 主体边界距离修改 */
.padd {
    padding: 0 10px;
}
/* 主体右边盒子 */
.leftMain>li {
    height: 35px;
    background-color: rgb(214, 213, 213);
    font-size: 15px;
    line-height: 35px;
    color: #000;
    font-weight: 700;
    padding: 0 10px;
}

.leftmini>li{
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.leftmini>li::after {
    content: ">";
    color: #898989 ;
    float: right;
}
/* 主体左边盒子 */
.rightbig{
    /* width: 72%; */
    height: 320px;
    position: absolute;
}

.rightbig img{
    height: 100%;
    width: 100%;
} 

.riMainriMain {
    height: 320px;
}

.mianright {
    width: 27%;
    box-sizing: border-box;
    margin-left: 1%;
}
.notice {
    height: 190px;
    /* background-color: orange; */
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
}
.nopic {
    height: 120px;
    /* margin-top: 10px; */
    box-sizing: border-box;
    width: 100%;
}
.noTitle {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background-color: #e9e9e9;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
}
.noContent{
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    /* padding-left: 20px; */
    font-size: 10px;
    line-height: 25px;
}
.noContent::before{
    content: "▪";
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #979797;
}

.nobox {
    width: 30%;
    float: left;
    height: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-left: 2%;
}
.nobox img{
    width: 100%;
    height: 100%;
}
.hotpot {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid #cfcfcf;
}
.pot{
    box-sizing: border-box;
    float: left;
    width: 20%;
    border-right: 1px solid #cfcfcf;
    height: 100%;
}
.potlist{
    height: 100%;
    width: 100%;
}
.pottitle {
    height: 70px;
    width: 100%;
}
.potpic{
    display:block;
    float: left;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    margin: 5px 5px 0 10px;
}
.potpic img {
    width: 100%;
    height: 100%;
}
.pottext {
    display: block;
    float: left;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 10px;
}
.potline {
    width: 100%;
    height: 25px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 2px;
    margin-left: 10px;
    box-sizing: border-box;
}
/* 底部 */
.footer{
    margin-top: 20px;
    width: 100%;
    height: 340px;
    background-color: #efefef;
}

.footerLine {
  height: 50px;
  width: 100%;
  background-color: #6a6665;
  box-sizing: border-box;
}

.footerLine li {
    margin-top: 15px;
    height: 35px;
    font-size: 25px;
    width: 19%;
    color: rgb(250, 236, 240);
    display: inline-block;
    line-height: 35px;
    text-align: center;
}

.footcontent{
    height:160px;
    width: 16.5%;
    background-color: #efefef;
    /* padding-left: 20%; */
    border-bottom: 2px solid #d0d0d0;
}
.footbox {
    width: 100%;
    padding-left: 20%;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    color: rgb(51, 9, 25);
    position: relative;
}
.footpic {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 35px;
    height: 30px;
}
.footline {
    position: absolute;
    top: 45px;
    left: 14px;
    height: 110px;
}
 .footcontent .first {
    font-size: 20px;
    line-height: 40px;
    color: #000;
} 
/* 修改差异样式 */
.topLine li:hover {
    background-color: #8a282a;
    color: #fff;
}

/* 新增footer内容 */
.padding-top {
    padding-top: 10px;
    text-align: center;
}

.foot-line {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    margin-top: 10px;;
}

.img {
    width: 457px;
    height: 40px;
    display: block;
    margin: 12px auto;
    /* margin-top: 12px; */
}
/* 轮播图样式 */
#outer {
    position: relative;
    overflow: hidden;
    width: 807px;
    height: 320px;
}

.rightbig li {
    width: 807px;
    height: 320px;
    float: left;
}

#navpot {
    position: absolute;
    bottom: 10px;
    /* left: 200px; */
    z-index: 999;
    height: 10px;
    /* width: 60px; */
}

#navpot a {
    box-sizing: border-box;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #808080;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    opacity: 0.5;
    /* filter: alpha(opacity=50); */
}

#navpot a:hover {
    background-color: #000;
}